/* Global settings */
@font-face {
    font-family: 'Motorfest';
    src: url('../fonts/Motorfest.otf');
}

:root {
    --primary-color: black;
    --secondary-color: red;
    --tertiary-color: rgb(70, 70, 70);
    --border-font-color: white;
    --slider-bg-color: #ccc;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: var(--border-font-color);
}

/* Map */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--tertiary-color);
}

/* Sidebar */
#left_sidebar {
    height: 100%;
    width: 30%;
    position: absolute;
}

@media only screen and (max-width: 500px) {
    #left_sidebar {
        height: 100%;
        width: 85%;
        position: absolute;
    }
  }

  @media only screen and (min-width: 501px) and (max-width: 900px) {
    #left_sidebar {
        height: 100%;
        width: 60%;
        position: absolute;
    }
  }

#filters_sidebar {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    overflow: auto;
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--border-font-color);
    outline-offset: -1px;
}

#filters_sidebar.close_filters {
    transform: translate(-100%);
}

#filters_sidebar input[type="checkbox"] {
    accent-color: var(--secondary-color);
    cursor: pointer;
}

#close {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    transition: all 0.5s ease;
}

#close.move_button {
    left:0%
}

#close_btn {
    width: 30px;
    height: 80px;
    font-size: 30px;
    background-color: var(--primary-color);
    color: var(--border-font-color);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-font-color);
}

/* TCM Logo */
#logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img{
    overflow: hidden;
    white-space: nowrap;
}

#logo p{
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
}

.web_logo {
    color: yellow;
    font-family: 'Motorfest';
    margin: 0;
}

/* Map settings section between logo and filters */
.map_settings {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.map_settings .map_settings_text {
    margin-right: 5px;
}

.override_flex {
    display: block !important;
}

.btn_setting {
    background-color: var(--primary-color);
    font-size: 20px;
    border: 0;
    color: var(--border-font-color);
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.settings_text {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    justify-content: center;
}

.settings_text span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.settings_text i {
    cursor: pointer;
}

.settings_text:hover {
    color: var(--secondary-color);
}

.settings_text:hover .btn_setting{
    color: var(--secondary-color);
}

#arrow_pointer {
    transition: transform 0.2s ease-out;
}

#arrow_pointer.open {
    transform: rotate(180deg);
}

#gear {
    transition: transform 0.3s ease-out;
}

#gear.open {
    transform: rotate(180deg);
}

#settings_content {
    display: block;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-height 0.2s ease-out, margin-top 0.2s ease-out, border-width 0.2s ease-out;
    margin-top: 0;
    border: solid var(--border-font-color);
    border-width: 0px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

#settings_content.open {
    margin-top: 5px;
    border-width: 1px;
}

.settings_option {
    display: flex;
    align-items: center;
    padding: 3px;
}

.checkmark-flexbox {
    display: flex;
    align-items: center;
}

.checkmark-flexbox .square {
    margin-left: 5px;
    margin-right: 5px;
}

/* Smaller switch button */
.smaller_switch {
    width: 40px !important;
    height: 22px !important;
}

.smaller_slider:before {
    width: 16px !important;
    height: 16px !important;
    left: 4px !important
}

input:checked + .smaller_slider:before {
    -webkit-transform: translateX(17px) !important;
    -ms-transform: translateX(17px) !important;
    transform: translateX(17px) !important;
  }

/* Button for hiding/showing all markers */
.hide_btn {
    background: var(--tertiary-color);
    border-radius: 6px;
    font-size: 16px;
    color: var(--border-font-color);
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

/* Filter sections */
.events {
    width: 100%;
}

.header{
    font-size: 20px;
    background-color: var(--tertiary-color);
    border: 0;
    color: var(--border-font-color);
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.header_hover:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.event_header {
    display: flex;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* 2 Column grid for each filter section */
.event_filters {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

/* Filter option text */
.event_filters span {
    text-align: left;
    margin-top: 5px;
    overflow: hidden;
    white-space: normal;
}

/* Checkbox */
.event_filters input[type='checkbox'] {
    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-right: 5px;
}

.event_filters .filter_option:nth-of-type(even) .filter_marker_count{
    padding-right: 5px;
}

.filter_marker_count {
    margin-left: auto;
    align-self: center;
    font-size: 12px;
    color: silver;
}

/* For checkbox with text */
.filter_option {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}

.filter_option span:nth-child(even){
    flex: 1 1 0;
}

/* Modify popup appearance */
.hstPopup .leaflet-popup-content-wrapper,
.hstPopup .leaflet-popup-tip {
    background-color: var(--tertiary-color);
    color: var(--border-font-color);
    border-style: solid;
    border-width: 1px;
}

.hstPopup .leaflet-popup-close-button span{
    color: var(--border-font-color);
}

/* Modify zoom control appearance */
.leaflet-bar a {
    background-color: var(--primary-color) !important;
    color: var(--border-font-color) !important;
}

/* Links */
.links {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: var(--tertiary-color);
    width: calc(100% - 10px);
}

a.custom_link:link {
    color: var(--secondary-color);
    text-decoration: none;
}

a.custom_link:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

a.custom_link:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    margin-right: 10px;
  }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 3px;
    background-color: var(--border-font-color);
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: var(--secondary-color);
  }

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
  }

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Styling for accordion menu */
.accordion_item {
    width: 100%;
    text-align: center;
}

.accordion_menu {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    background-color: inherit;
    color: var(--border-font-color);
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.accordion_menu:hover {
    color: var(--secondary-color);
}

.accordion_menu::after {
    content: "▼"; /* Downward arrow */
    position: absolute;
    right: 5px;
    font-size: 17px;
    transition: transform 0.2s ease;
}

.accordion_menu.active::after {
    transform: rotate(180deg);
}

.accordion_submenu {
    font-size: 15px;
    border: 0;
    background-color: inherit;
    color: var(--border-font-color);
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0px;
}

.accordion_submenu:hover {
    color: var(--secondary-color);
}

.accordion_submenu_active {
    color: var(--secondary-color);
}

.accordion_submenu_active:hover {
    color: rgb(135, 96, 103);
}

.challenges_submenu {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.challenges_submenu_item {
    background-color: inherit;
    margin-left: 10px;
}

.challenge_details {
    text-align: left;
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Shapes */
.square {
    height: 15px;
    width: 15px;
    border: 1px solid var(--border-font-color);
    cursor: pointer;
    transition: transform 0.2s ease-out;
    will-change: transform;
    box-sizing: border-box;
}

.bigger-square {
    transform: scale(1.4);
}

/* Colors */
.lightgray {
    background-color: lightgray;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: #2D68C4;
}

.green {
    background-color: #0BDA51;
}

.yellow {
    background-color: #ffce1b;
}

.purple {
    background-color: #c11c84;
}

.orange {
    background-color: #FF7518;
}

.cyan {
    background-color: #00cec8;
}

.indigo {
    background-color: #6c3baa;
}